*{
    font-family: "Roboto";
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background-attachment: fixed;
}

#header {
    background: linear-gradient(to bottom, rgb(34, 0, 128), rgb(102, 0, 128), black);
}

#home{
    width: 80vw;
    height: 100vh;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    gap: 10px;
}

#select {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
}

#pesquisa, #bibliot, #musics {
    border-radius: 5px;
    background-color: rgb(12, 12, 12);
    padding: 10px 24px;
}

#pesquisa {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

#bibliot {
    font-size: 20px;
}

#musics {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#button, #buttonheader {
    background-color: rgba(202, 202, 202, 0.377);
    border-radius: 30%;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    margin: 2px;
}

p {
    display: flex;
    align-items: center;
    gap: 8px;
}

#button-library {
    background-color: #282828;
    border: 0px;
    padding: 8px 16px;
    border-radius: 40px;
}

.musics {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.text {
    padding: 3px;
    margin: 0;
}

#capa {
    width: 50px;
    height: 50px;
}

#header ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#header li {
    flex: 1;
    width: 50%;
    box-sizing: border-box;
    padding: 0px; 
    background: rgba(255, 255, 255, 0.055);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.listimg {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listimg img {
    width: 60px;
    height: 60px;
    display: flex;
    padding: 10px;
}

.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #fff; 
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#choose {
    width: 50px;
    height: 50px;
}

#section ul, #andmore ul {
    list-style: none;
    padding: 10px;
    display: flex;

}

#section li, #andmore li {
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-items: baseline;
    background: rgba(255, 255, 255, 0.055);
    border-radius: 10px;
}

#end ul, #more ul, #andmore ul  {
    list-style: none;
    
    padding: 10px;
    display: flex;
}

#end li, #more li, #andmore li {
    box-sizing: border-box;
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-items: baseline;
    background: rgba(255, 255, 255, 0.055);
    border-radius: 10px;
    padding: 10px;
}

.sing{
    width: 12rem;
    height: 16rem;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.contentText {
    display: flex;
    flex-direction: column;
    padding: 0.5rem; }
    
.sing h4, .sing p {
    margin-bottom: 8px;
}

p {
    opacity: 0.7;
    cursor: pointer;
}

#section img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.music-player ion-icon {
    font-size: 2em;
    margin: 0 10px;
}

.totaltime {
    color: white;
}