* {
    font-family: "Poppins";
    font-weight: 400;
    color: rgb(200, 200, 200);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    background-attachment: fixed;
}

main {
    display: flex;
    width: 100vw;
    height: 94vh;
    padding: 10px;
    gap: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
}

#home {
    width: 80vw;
    height: 94vh;
}

#select {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

#pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: rgb(11, 11, 11);
}

#pesquisa>p {
    cursor: pointer;
    transition: color 200ms;
}

#pesquisa>p:hover {
    color: rgb(229, 229, 229);
}

.libHeader>p {
    cursor: pointer;
    transition: color 200ms;
}

.libHeader>p:hover {
    color: rgb(229, 229, 229);
}

.contentText {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 14px;
    font-weight: 700;
    color: rgb(161, 161, 161);
}

main ion-icon {
    color: rgb(229, 229, 229);
    width: 24px;
    height: 24px;
}

.containerSelect {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;

    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: rgb(11, 11, 11);
}

#bibliot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
    padding-bottom: 0.5rem;
}

.libHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.iconsLibrary {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.iconsLibrary ion-icon {
    color: rgb(195, 195, 195);

}

.libFooter {
    background-color: transparent;
}

#musics {
    display: flex;
    flex-direction: column;
    scrollbar-color: none;
    max-height: 48rem;
    overflow-y: auto;
}

.musicsHeader {
    margin-bottom: 1rem;
}

.musicsHeader,
.recents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.description {
    font-size: 12px;
    font-weight: 200;
    color: rgb(149, 149, 149);
}

button {
    cursor: pointer;
    color: rgb(234, 233, 233);
    background-color: #282828;
    border: 0px;
    padding: 8px 16px;
    border-radius: 40px;
    transition: color 200ms;
}

button:hover {
    background-color: rgb(120, 120, 120);
}

img {
    width: 48px;
    height: 48px;
}

ul {
    list-style: none;
    display: flex;
}





/* 
#header {
    background: linear-gradient(to bottom, rgb(34, 0, 128), rgb(102, 0, 128), black);
}

#home{
    width: 80vw;
    height: 100vh;
}

#select {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
}

#pesquisa, #bibliot, #musics {
    border-radius: 5px;
    background-color: rgb(12, 12, 12);
    padding: 10px 24px;
}

#pesquisa {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

#bibliot {
    font-size: 20px;
}

#musics {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#button, #buttonheader {
    background-color: rgba(202, 202, 202, 0.377);
    border-radius: 30%;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    margin: 2px;
}

p {
    display: flex;
    align-items: center;
    gap: 8px;
}

#button-library {
    background-color: #282828;
    border: 0px;
    padding: 8px 16px;
    border-radius: 40px;
}

.musics {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.text {
    padding: 3px;
    margin: 0;
}

#capa {
    width: 50px;
    height: 50px;
}

#header ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#header li {
    flex: 1;
    width: 50%;
    box-sizing: border-box;
    padding: 0px; 
    background: rgba(255, 255, 255, 0.055);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.listimg {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listimg img {
    width: 60px;
    height: 60px;
    display: flex;
    padding: 10px;
}

.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #fff; 
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#choose {
    width: 50px;
    height: 50px;
}

#section ul, #andmore ul {
    list-style: none;
    padding: 10px;
    display: flex;

}

#section li, #andmore li {
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-items: baseline;
    background: rgba(255, 255, 255, 0.055);
    border-radius: 10px;
}

#end ul, #more ul, #andmore ul  {
    list-style: none;
    
    padding: 10px;
    display: flex;
}

#end li, #more li, #andmore li {
    box-sizing: border-box;
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-items: baseline;
    background: rgba(255, 255, 255, 0.055);
    border-radius: 10px;
    padding: 10px;
}

.sing{
    width: 12rem;
    height: 16rem;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.contentText {
    display: flex;
    flex-direction: column;
    padding: 0.5rem; }
    
.sing h4, .sing p {
    margin-bottom: 8px;
}

p {
    opacity: 0.7;
    cursor: pointer;
}

#section img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.music-player ion-icon {
    font-size: 2em;
    margin: 0 10px;
}

.totaltime {
    color: white;
} */